.business-single {
  margin: auto;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-evenly;

  h4 {
    font-family: $sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  h3 {
    font-family: $sans-serif;
    font-size: 22px;
    font-weight: bold;
  }

  ul {
    margin-top: 20px;
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: $sans-serif;
  }

  a {
    font-weight: bold;
    color: rgb(0, 115, 187);
  }

  a:hover {
    border-bottom: rgb(0, 115, 187) 1px solid;
  }

  button {
    width: fit-content;
    border-radius: 10px;
    background: lightgrey;
    color: black;
    padding: 5px;
  }

  button:hover {
    background: gray;
  }

  .business-single-left,
  .business-single-right {
    font-size: 16px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  
  .business-operating-hours {
    li {
      display: flex;
      justify-content: left;

      > :first-child{
        width: 40px;
      }
    }
  }

  .current-user-rate-comment {
    display: flex;
    justify-content: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: $sans-serif;

    > :first-child {
      width: 200px;
    }

    * {
      margin-top: 5px;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 5px;

      * {
      margin-top: 5px;
      }
    }
  }

  .business-comments {
    .comment-author,
    .vote-detail,
    .vote-options {
      margin-top: 5px;
    }

    .vote-options > :last-child {
      margin-left: 5px;
    }
  }
}

@media (max-width: 800px) {
  .business-single {
    margin: auto;
    display: block;
  }
  .business-single-left,
  .business-single-right {
    width: 80%;
    margin: auto;
  }
}

.dark-mode {
  .business-single {
    background: rgb(0, 0, 0);
    color: white;

    a {
      font-weight: bold;
      color: rgba(187, 134, 252, 1);
    }
  
    a:hover {
      border-bottom: rgba(187, 134, 252, 1) 1px solid;
    }
    
    button {
      background: rgb(0, 0, 0);
      color: white;
    }

    button:hover{
      background: rgb(50, 50, 50);
      color: white;
    }
  }
}