.business-main-nav-bar {
  background: rgb(255, 209, 191);
  font-family: $sans-serif;
}
.business-main-nav-bar ul {
  display: flex;
  flex-direction: row;
}

.business-main-nav-bar li {
  padding: 5px 10px;
}

.business-main-nav-bar li:hover {
  background: lightsalmon;
}

.business-main-nav-bar .active, .business-main-nav-bar .active:hover {
  background:  rgb(59, 0, 0);
  color:white;
}

.business > *:not(.middle-line) {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.business > h3 {
  font-family: $sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.business-list > li {
  margin-top: 20px;
}

.business-short-detail > li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: $sans-serif;
}

.business-single a {
  font-weight: bold;
  color: rgb(0, 115, 187);
}

.business-single a:hover {
  border-bottom: rgb(0, 115, 187) 1px solid;
}