.business-main-nav-bar {
  background: rgb(255, 209, 191);
  font-family: $sans-serif;
}

.business-main-nav-bar ul {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.business-main-nav-bar li {
  padding: 5px 10px;
}

.business-main-nav-bar li:hover {
  background: lightsalmon;
}

.business-main-nav-bar .active, .business-main-nav-bar .active:hover {
  background:  rgb(59, 0, 0);
  color:white;
}

.business {
  margin: auto;
  display: flex;
  justify-content: left;
}

.business button {
  width: fit-content;
  border-radius: 10px;
  background: lightgrey;
  color: black;
  padding: 5px;
}

.business button:hover {
  background: gray;
}

.business-left,
.business-right {
  width: 40%;
}

.business-left > *:not(.middle-line, .loader) {
  margin-top: 10px;
  margin-bottom: 10px;
  // margin-left: 20px;
  // margin-right: 20px;
}

.business .loader {
  margin: 50px auto;
}

.business h3 {
  font-family: $sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.business-list > li {
  margin-top: 20px;
}

.business-short-detail > li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: $sans-serif;
}

.business-short-detail a {
  font-weight: bold;
  color: rgb(0, 115, 187);
}

.business-short-detail a:hover {
  border-bottom: rgb(0, 115, 187) 1px solid;
}

.business-right .business-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  max-width: 80%;
  width: 500px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .business {
    margin: auto;
    display: block;
  }
  .business-left,
  .business-right {
    width: 80%;
    margin: auto;
  }
}