header {
  margin: auto;
  padding-top: 10px;
  font-weight: bold;
  font-family: $sans-serif;
  background: lightsalmon;
}

h1 {
  font-size: calc(2em + 1vw);
  text-align: center;
}

header > h2 {
  font-size: calc(1.5em + 1vw);
  text-align: center;
}