.business-index {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.business-index > h3 {
  font-family: $sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.business-index > ul {
  margin-top: 20px;
}

.business-index > ul > li {
  margin-top: 20px;
}

.business-short-detail > li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: $sans-serif;
}

.business-short-detail > :first-child > a {
  font-weight: bold;
  color: rgb(0, 115, 187);
}
.business-short-detail > :first-child > a:hover {
  border-bottom: rgb(0, 115, 187) 1px solid;
}