.profile-container > *:not(.middle-line) {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.profile-container > h3 {
  font-family: $sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.profile-nav-bar {
  background: rgb(255, 209, 191);
}
.profile-nav-bar ul {
  display: flex;
  flex-direction: row;
  outline: 1px red solid;
}

.profile-nav-bar li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
}

.profile-nav-bar li:hover {
  background: lightsalmon;
}

.profile-nav-bar .active, .profile-nav-bar .active:hover {
  background:  rgb(59, 0, 0);
  font-weight: bold;
  color:white;
}

.profile-container h4 {
  font-family: $sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.profile-container .list ul {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: $sans-serif;
}