.profile-container {
  flex: 1;
  
  > *:not(.loader) {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    // margin-left: 20px;
    // margin-right: 20px;
  }

  h3 {
    width: 80%;
    margin: auto;
    font-family: $sans-serif;
    font-size: 22px;
    font-weight: bold;
  }

  h4 {
    font-family: $sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  .list {
    ul {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      font-family: $sans-serif;

      ul {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      li {
        padding: 5px;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;

        li {
          padding: 0px;
        }
      }
    }

    a {
      font-weight: bold;
      color: rgb(0, 115, 187);
    }

    a:hover {
      border-bottom: rgb(0, 115, 187) 1px solid;
    }
  }

  .loader {
    margin: 50px auto;
  }
}

.dark-mode {
  .profile-container {
    background: rgb(0, 0, 0);
    color: white;

    a {
      font-weight: bold;
      color: rgba(187, 134, 252, 1);
    }
  
    a:hover {
      border-bottom: rgba(187, 134, 252, 1) 1px solid;
    }
    
    .list {
      ul {
        li {
          background: rgba(255, 255, 255, 0.05);

          li {
            background: rgba(255, 255, 255, 0);
          }
        }
      }
    }
  }
}