.session {
  display: block;
  width: 60%;
  max-width: 400px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  border: darkgray 1px solid;
  border-radius: 10px;
  background: lightgrey;
  font-family: $serif;

  button {
    margin-bottom: 10px;
    width: min-content;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
  }

  button:hover {
    background: black;
    color: white;
  }

  input {
        margin-left: 5px;
        padding: 2px;
        border-bottom: 1px solid black;
  }

  .session-title, .session-errors, .session-form {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    text-align: left;
  }
  
  .session-errors {
    margin-bottom: 10px;
    min-height: 0px;
    color: red;
  }

  .session-form {
    margin-top: 0px;
    height: auto;
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      justify-content: left;
      margin-bottom: 10px;

      p {
        text-align: left;
        width: 90px;
      }
    }
  }
}

.dark-mode {
  .session {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    
    button {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      color: white;
    }

    button:hover{
      background: rgba(255, 255, 255, 0.4);
      color: white;
    }

    input {
      border-bottom: 1px solid white;
    }

    .session-errors {
      color: rgb(207, 102, 121);
    }
  }
}