.session {
  display: block;
  width: 60%;
  max-width: 400px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  border: darkgray 1px solid;
  border-radius: 10px;
  background: lightgrey;
  font-family: $serif;
}


.session-title, .session-errors, .session-form {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  text-align: left;
}

.session-errors {
  height: 18px
}

.session-errors {
  color: red;
}

.session-form {
  margin-top: 0px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.session-form > * {
  margin-top: 10px;
}

.session-form > label {
  display: flex;
  justify-content: left;
}
.session-form > label > p {
  text-align: left;
  width: 90px;
}
.session-form > label > input {
  margin-left: 5px;
  padding: 2px;
  border-bottom: 1px solid black;
}

.session-form > :last-child {
  margin-bottom: 10px;
  width: min-content;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}

.session-form > button:hover{
  background: black;
  color: white;
}