.greeting {
  //background: lightsalmon;
  margin: auto;
  padding-top: 20px;
  display: block;
  font-size: calc(0.75em + 0.5vw);
  font-family: $sans-serif;
}

.greeting > nav {
  display: flex;
  justify-content: space-between;
}
.greeting-right {
  display: flex;
  justify-content: right;
}
.greeting > nav > div > * {
  margin-left: 20px;
  padding: 5px;
}
.greeting > nav > div > button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  background: rgba(230, 230, 250, 0.7);
}

.greeting > nav > div > button:hover{
  background: black;
  color: white;
}

.greeting > nav > div > p > span {
  font-weight: bold;
}

.greeting > nav > div > :last-child {
  margin-right: 20px;
}